{% extends "../utils/layout.html" %} 
{% load static %}



{% block body %}
<div class="row d-flex justify-content-center align-items-center">
    <div class="col-md-6 bg">
      <h3 class="text-center">Reset Your Password</h3>
      <hr />
      <br><br>
      <form method="post" class="needs-validation" novalidate>
        {% csrf_token %}

        <label for="username" class="form-label mt-3">Username</label>
        <input type="text" class="form-control mt-2" id="username" name="username" required autocomplete="off"/>
        <div class="invalid-feedback">
            Please fill this area.
        </div>


        <label for="security_question" class="form-label mt-3">Security Question</label>
        <select class="form-select" id="security_question" name="security_question" required>
            <option selected disabled>Select a security question</option>
            <option value="What is your mother's maiden name?">What is your mother's maiden name?</option>
            <option value="What was the name of your first pet?">What was the name of your first pet?</option>
            <option value="What was the name of the street you grew up on?">What was the name of the street you grew up on?</option>
            <option value="What is your favorite book?">What is your favorite book?</option>
            <option value="What was the name of your elementary school?">What was the name of your elementary school?</option>
            <option value="What is the name of your best childhood friend?">What is the name of your best childhood friend?</option>
        </select>
         

        <label for="security_answer" class="form-label mt-3">Security Answer</label>
          <input type="text" class="form-control mt-2" id="security_answer" name="security_answer" required autocomplete="off"/>
          <div class="invalid-feedback">
              Please fill this area.
          </div> 
          
          <label for="new_password" class="form-label mt-3">New Password</label>
          <input type="password" class="form-control mt-2" id="new_password" name="new_password" required autocomplete="off"/>
          <div class="invalid-feedback">
              Please fill this area.
          </div>


          <label for="confirm_password" class="form-label mt-3">Confirm Password</label>
          <input type="password" class="form-control mt-2" id="confirm_password" name="confirm_password" required autocomplete="off"/>
          <div class="invalid-feedback">
              Please fill this area.
          </div>
          
          <div class="text-center">
              <button style="width:100%" type="submit" class="btn btn-primary mt-4 mb-4">Continue</button>
          </div>
      </form>
    </div>
  </div>
{% endblock body %}
    

{% block script %}
<script>
  (() => {
    'use strict'
  
    const forms = document.querySelectorAll('.needs-validation')

    Array.from(forms).forEach(form => {
      form.addEventListener('submit', event => {
        if (!form.checkValidity()) {
          event.preventDefault()
          event.stopPropagation()
        }
  
        form.classList.add('was-validated')
      }, false)
    })
  })()
</script>
{% endblock script %}