{% extends "../utils/layout.html" %}
{% load static %}

{% block body %}
<div class="container mt-5">
    <div class="row">
        <div class="col-md-4 text-center">
            {% if user.profile_picture.url %}
                <img src="{{ user.profile_picture.url }}" class="img-fluid rounded-circle mb-3" alt="Profile Picture" style="width: 150px; height: 150px;">
            {% else %}
                <img src="{% static 'img/default_profile_picture.png' %}" class="img-fluid rounded-circle mb-3" alt="Profile Picture" style="width: 150px; height: 150px;">
            {% endif %}

            <!-- Form to Change Profile Picture -->
            <form method="POST" enctype="multipart/form-data" action="{% url 'authentication:change_profile_picture' %}">
                {% csrf_token %}
                <div class="form-group">
                    <label for="profile_picture" class="btn btn-outline-primary btn-sm">
                        Choose a Profile Picture
                    </label>
                    <input type="file" id="profile_picture" name="profile_picture" class="d-none" accept="image/*" onchange="this.form.submit();">
                </div>
            </form>
        </div>
        <div class="col-md-8">
            <h2>{{ user.first_name }} {{ user.last_name }}</h2>
            <p class="text-muted">{{ user.username }}</p>
            <hr>
            
            <!-- Personal Details -->
            <h4>Personal Details</h4>
            <p><strong>Email:</strong> {{ user.email }}</p>
            <p><strong>Birth Date:</strong> {{ user.birth_date|date:"F d, Y" }}</p>
            <p><strong>Gender:</strong> {{ user.gender }}</p>
            <p><strong>Location:</strong> {{ user.location }}</p>
            <p><strong>Phone Number:</strong> {{ user.phone_number }}</p>
            <p><strong>Interests:</strong> {{ user.interests }}</p>
            <a href="{% url 'events:add_interest' %}" class="btn btn-success">Add Interest</a>
            
            <hr>
            
            <!-- Security Question -->
            <h4>Security Information</h4>
            <p><strong>Security Question:</strong> {{ user.security_question }}</p>
        </div>
    </div>
</div>
{% endblock body %}
