{% extends "utils/layout.html" %}
{% load static %}

{% block body %}
<div class="container my-4">
    <h2 class="mb-4">Select Your Interests</h2>
    <form method="post">
        <div class="row">
            <div class="col-md-4 mb-3">
                <input type="checkbox" id="interest1" name="interest1" class="form-check-input">
                <label for="interest1" class="form-check-label">Football</label>
            </div>
            <div class="col-md-4 mb-3">
                <input type="checkbox" id="interest2" name="interest2" class="form-check-input">
                <label for="interest2" class="form-check-label">Basketball</label>
            </div>
            <div class="col-md-4 mb-3">
                <input type="checkbox" id="interest3" name="interest3" class="form-check-input">
                <label for="interest3" class="form-check-label">Volleyball</label>
            </div>
            <div class="col-md-4 mb-3">
                <input type="checkbox" id="interest4" name="interest4" class="form-check-input">
                <label for="interest4" class="form-check-label">Chess</label>
            </div>
            <div class="col-md-4 mb-3">
                <input type="checkbox" id="interest5" name="interest5" class="form-check-input">
                <label for="interest5" class="form-check-label">Art</label>
            </div>
            <div class="col-md-4 mb-3">
                <input type="checkbox" id="interest6" name="interest6" class="form-check-input">
                <label for="interest6" class="form-check-label">Books</label>
            </div>
            <div class="col-md-4 mb-3">
                <input type="checkbox" id="interest7" name="interest7" class="form-check-input">
                <label for="interest7" class="form-check-label">Cooking</label>
            </div>
            <div class="col-md-4 mb-3">
                <input type="checkbox" id="interest8" name="interest8" class="form-check-input">
                <label for="interest8" class="form-check-label">Movies</label>
            </div>
            <div class="col-md-4 mb-3">
                <input type="checkbox" id="interest9" name="interest9" class="form-check-input">
                <label for="interest9" class="form-check-label">Music</label>
            </div>
            <div class="col-md-4 mb-3">
                <input type="checkbox" id="interest10" name="interest10" class="form-check-input">
                <label for="interest10" class="form-check-label">Travel</label>
            </div>
            <div class="col-md-4 mb-3">
                <input type="checkbox" id="interest11" name="interest11" class="form-check-input">
                <label for="interest11" class="form-check-label">Photography</label>
            </div>
            <div class="col-md-4 mb-3">
                <input type="checkbox" id="interest12" name="interest12" class="form-check-input">
                <label for="interest12" class="form-check-label">Science</label>
            </div>
            <div class="col-md-4 mb-3">
                <input type="checkbox" id="interest13" name="interest13" class="form-check-input">
                <label for="interest13" class="form-check-label">Technology</label>
            </div>
            <div class="col-md-4 mb-3">
                <input type="checkbox" id="interest14" name="interest14" class="form-check-input">
                <label for="interest14" class="form-check-label">Gaming</label>
            </div>
            <div class="col-md-4 mb-3">
                <input type="checkbox" id="interest15" name="interest15" class="form-check-input">
                <label for="interest15" class="form-check-label">Fitness</label>
            </div>
            <div class="col-md-4 mb-3">
                <input type="checkbox" id="interest16" name="interest16" class="form-check-input">
                <label for="interest16" class="form-check-label">Yoga</label>
            </div>
            <div class="col-md-4 mb-3">
                <input type="checkbox" id="interest17" name="interest17" class="form-check-input">
                <label for="interest17" class="form-check-label">Dance</label>
            </div>
            <div class="col-md-4 mb-3">
                <input type="checkbox" id="interest18" name="interest18" class="form-check-input">
                <label for="interest18" class="form-check-label">Hiking</label>
            </div>
            <div class="col-md-4 mb-3">
                <input type="checkbox" id="interest19" name="interest19" class="form-check-input">
                <label for="interest19" class="form-check-label">Cycling</label>
            </div>
            <div class="col-md-4 mb-3">
                <input type="checkbox" id="interest20" name="interest20" class="form-check-input">
                <label for="interest20" class="form-check-label">Gardening</label>
            </div>
            <div class="col-md-4 mb-3">
                <input type="checkbox" id="interest21" name="interest21" class="form-check-input">
                <label for="interest21" class="form-check-label">Fishing</label>
            </div>
            <div class="col-md-4 mb-3">
                <input type="checkbox" id="interest22" name="interest22" class="form-check-input">
                <label for="interest22" class="form-check-label">Swimming</label>
            </div>
            <div class="col-md-4 mb-3">
                <input type="checkbox" id="interest23" name="interest23" class="form-check-input">
                <label for="interest23" class="form-check-label">Surfing</label>
            </div>
            <div class="col-md-4 mb-3">
                <input type="checkbox" id="interest24" name="interest24" class="form-check-input">
                <label for="interest24" class="form-check-label">Running</label>
            </div>
            <div class="col-md-4 mb-3">
                <input type="checkbox" id="interest25" name="interest25" class="form-check-input">
                <label for="interest25" class="form-check-label">Painting</label>
            </div>
            <div class="col-md-4 mb-3">
                <input type="checkbox" id="interest26" name="interest26" class="form-check-input">
                <label for="interest26" class="form-check-label">Writing</label>
            </div>
            <div class="col-md-4 mb-3">
                <input type="checkbox" id="interest27" name="interest27" class="form-check-input">
                <label for="interest27" class="form-check-label">Poetry</label>
            </div>
            <div class="col-md-4 mb-3">
                <input type="checkbox" id="interest28" name="interest28" class="form-check-input">
                <label for="interest28" class="form-check-label">History</label>
            </div>
            <div class="col-md-4 mb-3">
                <input type="checkbox" id="interest29" name="interest29" class="form-check-input">
                <label for="interest29" class="form-check-label">Philosophy</label>
            </div>
            <div class="col-md-4 mb-3">
                <input type="checkbox" id="interest30" name="interest30" class="form-check-input">
                <label for="interest30" class="form-check-label">Psychology</label>
            </div>
        </div>
        
        <div class="text-center mt-4">
            <button type="button" class="btn btn-primary">Add Interest</button>
        </div>
    </form>
</div>
{% endblock body %}
